$thirdColor: rgb(228, 52, 81);

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    .card{
        width: 250px;
        padding: 1em;
        margin: 1em;
        img{
            width: 100%;
        }
    }    
}