#contacts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    color: whitesmoke;
    padding: 1em;
    li{
        list-style: none;
        a{
            color: pink;
        }
    }
}

@media(max-width: 700px){
    #contacts{
        flex-direction: column;
        ul{
            align-items: center;
            width: 90%;
            margin: auto;
            i{
                font-size: 1.4em;
            }
        }
    }
}