$primaryColor: #fff;
$secondaryColor: #333;
$thirdColor: #e43451ab;


#services{
    h3{
        font-size: 50px;
        color: $thirdColor;
        text-transform: uppercase;
    }
    padding: 1em;
    text-align: center;
    background: white;
    color: #333;
    //border: 5px $thirdColor solid;
    border-radius: 15px;
    margin: 1em;
}