body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  position: fixed;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}

#header .logo {
  color: white;
}

#header .logo img {
  width: 80px;
}

#header .hamburger {
  display: none;
}

#header .hamburger .line {
  background: #e43451;
  width: 20px;
  height: 3px;
  margin: 3px;
}

#header .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  list-style: none;
}

#header .navLinks li a {
  color: #333;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

#header .navLinks a:hover {
  color: #e43451;
}

@media (max-width: 700px) {
  #header {
    background: white;
  }
  #header button {
    display: none;
  }
  #header .hamburger {
    display: block;
  }
  #header .navLinks {
    display: none;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header .navLinks li {
    padding: 1em;
  }
  #header .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#services {
  padding: 1em;
  text-align: center;
  background: white;
  color: #333;
  border-radius: 15px;
  margin: 1em;
}

#services h3 {
  font-size: 50px;
  color: #e43451;
  text-transform: uppercase;
}

#showcase {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/stock3.jpeg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/stock3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#showcase h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  color: #e43451;
  font-size: 10em;
  padding: 2em;
  padding-top: 3em;
}

@media (max-width: 700px) {
  #showcase h1 {
    font-size: 5em;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: auto;
}

.cards .card {
  width: 250px;
  padding: 1em;
  margin: 1em;
}

.cards .card img {
  width: 100%;
}

footer {
  background: #e43451;
  padding: 3em;
  text-align: center;
}

#contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
}

#contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contacts li {
  list-style: none;
}

#contacts li a {
  color: #e43451;
  font-size: 1em;
}

@media (max-width: 700px) {
  #contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 1em;
  }
  #contacts ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: auto;
  }
  #contacts i a {
    display: none;
  }
}

#about {
  background: #fff;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: #333 1px solid;
}

#about .abt-txt {
  padding: 5em;
  line-height: 1.6;
  font-size: 1.5em;
}

#about .abt-txt button {
  margin-top: 2em;
  padding: 1.5em;
}

#about .abt-img {
  margin: 5em;
}

#about .abt-img img {
  width: 300px;
}

@media (max-width: 700px) {
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background: #fff;
  color: #fff;
}

img {
  width: 100%;
}

button {
  padding: 0.5em 2em;
  border-radius: 5px;
  border: none;
  background: #e43451;
  color: whitesmoke;
}

i {
  font-size: 3em;
  padding: 1em;
}
/*# sourceMappingURL=styles.css.map */